

$font: 'Big Shoulders Text',
cursive;
$underline: rgba(203, 48, 241, 0.8);
@media screen and (max-width:331.5px) {
	.services_title {
		width: 200px !important;
	}
}

@media screen and (max-width:400px) {
	.those_who_grow {
		font-size: 35px !important;
	}
	.serv_box {
		width: 350px !important;
	}
}

body {
	overflow-x: hidden;
	margin: 0;
}

.services_container {
	display: block;
	min-height: 250px;
	position: relative;
	margin: 0;
	font-family: $font;
	padding-bottom: 50px;
}

.menu_nav_link_services {
	display: block;
	width: 200px;
	height: 25px;
	position: relative;
	margin-bottom: 20px;
	padding: 15px 5px 5px 20px;
	letter-spacing: 0.5px;
	font-size: 17px;
}

.services_title {
	font-size: 45px;
	font-weight: bold;
	text-align: center;
	margin: 35px 0 20px 0;
	padding-bottom: 5px;
	position: relative;
}

.services_title:after {
	content: '';
	width: 100px;
	height: 4px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(203, 48, 241, 0.6);
}

.services_untitle {
	font-size: 18px;
	text-align: center;
}

.wrap_services {
	display: inline-block;
	position: relative;
	min-height: 250px;
	margin-top: 50px;
	padding-bottom: 70px;
}

.serv_box {
	display: inline-flex;
	height: 200px;
	width: 370px;
	margin: 10px 5px 0 5px;
}

.serv_box_img {
	display: block;
	height: 200px;
	width: 130px;
}

.serv_box_img span {
	display: block;
	width: 90px;
	text-align: center;
	height: 90px;
	border: 2.5px solid #C5C5C5;
	margin: 35px 0 0 19px;
	border-radius: 50%;
	font-size: 35px;
	padding-top: 15px;
	position: relative;
	color: $underline;
}

.serv_box_txt {
	position: relative;
	display: block;
	height: 200px;
	width: 240px;
}

.serv_box_txt .serv_box_title {
	display: block;
	position: relative;
	width: 240px;
	height: 40px;
	text-align: left;
	padding: 8px 5px 0 30px;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: bold;
}

.serv_box_title:after {
	content: '';
	height: 2px;
	width: 50px;
	background-color: $underline;
	position: absolute;
	bottom: 0;
	border-radius: 20px;
	left: 20px;
}

.serv_box_descr {
	position: relative;
	display: block;
	width: 240px;
	height: 180px;
	text-align: left;
	padding: 25px 5px 5px 10px;
}

.those_who_grow {
	position: relative;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	margin: 5px;
	padding: 5px;
}

.those_who_grow span {
	display: block;
	width: 100%;
	height: 8px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-image: url('../images/services/underline.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.wrap_company {
	display: block;
	position: relative;
	min-height: 200px;
	margin: 20px 0 30px 0;
}

.company_box {
	display: block;
	width: 200px;
	height: 120px;
	margin: 20px;
	box-shadow: 1px 0 4px #AFAFAF;
}

.wrap_company span:nth-child(1) {
	background-image: url('../images/services/services_company/company01.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.wrap_company span:nth-child(2) {
	background-image: url('../images/services/services_company/company02.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.wrap_company span:nth-child(3) {
	background-image: url('../images/services/services_company/company03.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.wrap_company span:nth-child(4) {
	background-image: url('../images/services/services_company/company04.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

